name: Continuous Integration
on: [push, pull_request]
jobs:
  build:
    name: ${{matrix.os}}/${{matrix.build-type}}
    runs-on: ${{matrix.runs-on}}
    steps:
      - uses: actions/checkout@v2
      - name: Make build directory
        run: cmake -E make_directory build
      - name: Configure
        working-directory: build
        run: |
          cmake .. `
            -DSOURCE_URL=https://github.com/${{github.repository}} `
            -DSOURCE_REF=${{github.sha}} `
            -DCMAKE_BUILD_TYPE=${{matrix.build-type}} `
            -DCMAKE_OSX_ARCHITECTURES=${{matrix.arch}} `
            "-DCMAKE_OSX_DEPLOYMENT_TARGET=10.11" `
            "-DCMAKE_INSTALL_PREFIX=${{runner.temp}}/install"
        shell: pwsh
      - name: Compile
        working-directory: build
        run: cmake --build . --config ${{matrix.build-type}} --parallel
      - name: Run tests
        if: matrix.arch != 'arm64'
        working-directory: build
        run: ctest -C ${{matrix.build-type}} --output-on-failure
      - name: Install
        working-directory: build
        run: cmake --install . --config ${{matrix.build-type}}
      - name: Test installation
        working-directory: build
        run: cmake --build . --target install_test --config ${{matrix.build-type}}
      - name: build and install example
        run: |
          cmake -E make_directory example/build
          cd example/build
          cmake .. -DCMAKE_INSTALL_PREFIX=${{runner.temp}}/example-install
          cmake --build . --config ${{matrix.build-type}} --parallel
          cmake --install . --config ${{matrix.build-type}}
      - name: Upload StreamDeckSDK.cmake
        uses: actions/upload-artifact@v3
        with:
          name: StreamDeckSDK.cmake
          path: build/StreamDeckSDK.cmake
    strategy:
      fail-fast: false
      matrix:
        os: [windows, macos-arm64, macos-x86_64, linux]
        build-type: [Release, Debug]
        include:
          - os: windows
            runs-on: windows-latest
          - os: macos-arm64
            arch: arm64
            runs-on: macos-latest
          - os: macos-x86_64
            arch: x86_64
            runs-on: macos-latest
          - os: linux
            runs-on: ubuntu-20.04
